{% extends 'core/homepage-base.html' %}
{% load static %}

{% block custom-static %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}
{% block homepage-content %}
<section id="header" class="vh-100 vw-100 d-flex align-items-end flex-column justify-content-end">
    <div class="jumbotron qtz-background">
        <h1 class="display-5 text-break">Bienvenido a QuetziLab Dashboard!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</section>
<div>
    {% lorem 5 %}
</div>

<!-- Footer -->
<footer class=" font-small pt-4 qtz-background-primary">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase text-white">QuetziLabs Dashboard</h5>
                <p class="text-white">Administración y control de tu trabajo en QuetziLabs.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">Acerca de</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contacto</a>
                    </li>
                    <li>
                        <a href="#">Preguntas Frecuentes</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white qtz-text-no-style">© 2018 Copyright:
        <a href="{% url 'home-page' %}" class="text-white">QuetziLab.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}