{% extends 'core/access.html' %}

{% load static %}

{% block path %}| Login{% endblock %}

{% block custom-static %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
{% endblock %}

{% block form-content %}

<div class="card container-md p-3 rounded qtz-card">
    <div class="card-body">
        <div class="card-title d-flex flex-row">
            <img src="{% static 'core/img/quetziLogo.svg' %}" width="36" height="48">
            <p class="text-muted p-1">
                <i class="qtz-text-highlight-accent qtz-text-no-style p-1 text-dark qtz-main-font">Quetzi</i>
                <i class="qtz-text-no-style qtz-main-font">Lab</i>
            </p>
        </div>
        <form action="{% url 'login' %}" method="post" class="">
            <div class="form-group w-auto">
                <small id="id_ad_email_errors" class="form-text text-danger">{{ form.ad_email.errors }}</small>
                <label for="{{ form.ad_email.id_for_label }}" class="font-weight-bold"><h3>Iniciar Sesion</h3> </label>
                {{ form.ad_email }}
                <small class="form-text text-muted">If you don't have an account, you can <a href="#" class="font-weight-bold qtz-text-no-style qtz-text-color-primary">register</a></small>
                <div class="d-flex flex-row justify-content-end p-1 w-100">
                    <button type="button" id="next-btn" class="btn btn-info">Siguiente</button>
                </div>
            </div>
            <div class="form-group w-auto" style="display: none;">
                <label for="{{ form.ad_password.id_for_label }}">Password:</label>
                {{ form.ad_password }}
                {% if form.ad_password.errors %}<small class="form-text text-danger">{{ form.ad_password.errors }}</small>{% endif %}
                <div class="form-check ml-2 mt-1">
                    {{ form.ad_remember }}
                    <label for="{{ form.ad_remember.id_for_label }}">Recordar cuenta</label>
                </div>
                <a href="#"><small class="form-text font-weight-bold qtz-text-color-primary">¿Olvidaste tu contraseña?</small></a>
                <div class="d-flex flex-row justify-content-end p-1 w-100">
                    <input type="submit" value="Iniciar Sesión" class="btn btn-info">
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}

{% block custom-js %}
<script src="{% static 'core/js/login.js' %}"></script>
{% endblock %}