{% extends 'core/access.html' %}

{% load static %}

{% block path %}| Iniciar Sesión{% endblock %}

{% block custom-static %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
{% endblock %}

{% block form-content %}

<div class="card p-2 qtz-card" id="login-card">
    <div class="card-body">
        <div class="card-title d-flex flex-row">
            <a href="{% url 'home-page' %}"><img src="{% static 'core/img/quetziLogo.svg' %}" width="36" height="48" alt=""></a>
            <a href="{% url 'home-page' %}" class="qtz-text-no-decoration">
                <p class="text-muted p-1">
                    <i class="qtz-text-highlight-accent qtz-text-no-font p-1 text-dark qtz-main-font">Quetzi</i>
                    <i class="qtz-text-no-font qtz-main-font">Lab Dashboard</i>
                </p>
            </a>
        </div>
        <form action="{% url 'login' %}" method="post" class="">
            <div class="form-group w-auto">
                <label for="{{ form.ad_email.id_for_label }}" class="font-weight-bold"><h3>Iniciar Sesión</h3></label>
                {{ form.ad_email }}
                <small class="form-text text-muted">Si no tienes una cuenta, puedes <a href="{% url 'register' %}" class="font-weight-bold qtz-text-no-font qtz-text-color-primary">registrarte</a></small>
                <small id="id_ad_email_errors" class="form-text text-danger font-weight-bold">
                    {% if custom_errors.login_error %}<h6>{{ custom_errors.login_error }}</h6>{% endif %}
                    {% if custom_errors.password_error %}<h6>{{ custom_errors.password_error }}</h6>{% endif %}
                    {% if form.ad_email.errors %}<h6>Error en valores introducidos:</h6>{% endif %}
                    {{ form.ad_email.errors }}
                </small>
                <div class="d-flex flex-row justify-content-end p-1 w-100">
                    <button type="button" id="next-btn" class="btn qtz-btn-accent text-dark rounded-0">Siguiente</button>
                </div>
            </div>
            <div class="form-group w-auto" style="display: none;">
                <label for="{{ form.ad_password.id_for_label }}" class="font-weight-bold"><h3>Escribir contraseña</h3></label>
                {{ form.ad_password }}
                {% if form.ad_password.errors %}<small class="form-text text-danger">{{ form.ad_password.errors }}</small>{% endif %}
                <div class="form-check ml-2 mt-1">
                    {{ form.ad_remember }}
                    <label for="{{ form.ad_remember.id_for_label }}">Recordar cuenta</label>
                </div>
                <a href="#"><small class="form-text font-weight-bold qtz-text-color-primary">¿Olvidaste tu contraseña?</small></a>
                <div class="d-flex flex-row justify-content-end p-1 w-100">
                    <input type="submit" value="Iniciar sesión" class="btn qtz-btn-accent text-dark rounded-0">
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}

{% block custom-js %}
<script src="{% static 'core/js/login.js' %}"></script>
{% endblock %}