#header{
    background: url('../img/gray-laptop-computer-showing-html-codes-in-shallow-focus-160107.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}