body{
    overflow-x: hidden;
    overflow-y: scroll;
    transform-style: preserve-3d;
}

#header{
    background: url('../img/working-woman-person-technology-7375.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}