#login-container{
    background: url('../img/aerial-photo-of-mountain-surrounded-by-fog-733174.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}