#login-container {
    background: url("../img/aerial-photo-of-mountain-surrounded-by-fog-733174.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#login-card {
    width: 60%;
    height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width:300px){
    #login-card {
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 576px) {
    #login-card {
        width: 100%;
        height: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #login-card {
        width: 60%;
        height: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #login-card {
        width: 60%;
        height: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #login-card {
        width: 60%;
        height: auto;
    }
}
