@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

:root {
  /* COLORS */
  --primary-color: #323846;
  --accent-color: #c3f7eb;
  --accent-color-dark:#88D9F3;
  --background-color:#FBF9F3;
  /* FONTS */
  --main-font: "Quicksand", sans-serif;
}

html,
body {
  height: 100%;
}

/* Background */

.qtz-background-primary {
  background-color: var(--primary-color) !important;
}

.qtz-background-accent {
  background-color: var(--accent-color) !important;
}

.qtz-background{
  background-color: var(--background-color) !important;
}

.qtz-logo {
  width: 21rem;
  height: 21rem;
}

/* Text */

.qtz-text-no-style {
  font-style: normal !important;
}

.qtz-text-color-primary {
  color: var(--primary-color) !important;
}

.qtz-main-font {
  font-family: var(--main-font) !important;
}

.qtz-text-highlight-accent {
  background-color: var(--accent-color) !important;
}

/* Button */
.qtz-btn-accent{
  background-color: var(--accent-color) !important;
}
.qtz-btn-accent:hover{
  background-color: var(--accent-color-dark) !important;
}